Repository ueqri/pcl: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/azure-pipelines/docs-pipeline.yaml, .ci/azure-pipelines/documentation.yaml

.ci/azure-pipelines/docs-pipeline.yaml:

trigger:
  paths:
    include:
    - doc

pr:
  paths:
    include:
    - doc

resources:
  pipelines:
    - pipeline: Build-CI
      source: Build
      trigger:
        stages:
        - build_gcc
  containers:
    - container: fmt # for formatting.yaml
      image: pointcloudlibrary/fmt
    - container: doc # for documentation.yaml
      image: pointcloudlibrary/doc
    - container: env1804 # for tutorials.yaml
      image: pointcloudlibrary/env:18.04

stages:
  - stage: formatting
    displayName: Formatting
    # if docs pipeline triggered by build_gcc stage,
    # the formatting stage has already run, thus it
    # won't run for a second time here.
    condition: not(eq(variables['Build.Reason'], 'ResourceTrigger'))
    jobs:
      - template: formatting.yaml

  - stage: documentation
    displayName: Documentation
    condition: always()
    jobs:
      - template: documentation.yaml

  - stage: tutorials
    displayName: Tutorials
    jobs:
      - template: tutorials.yaml

.ci/azure-pipelines/documentation.yaml:

trigger:
  paths:
    include:
    - doc
    - README.md
    - CHANGES.md
    - CONTRIBUTING.md

pr:
  paths:
    include:
    - doc
    - README.md
    - CHANGES.md
    - CONTRIBUTING.md

resources:
  pipelines:
  - pipeline: main-build
    source: main-build-CI
    trigger:    
      stages:
      - build_gcc

stages:
  - stage: documentation
    displayName: Documentation
    jobs:
      - job: documentation
        displayName: Generate Documentation
        pool:
          vmImage: 'Ubuntu 20.04'
        variables:
          BUILD_DIR: '$(Agent.BuildDirectory)/build'
          DOC_DIR: '$(Agent.BuildDirectory)/documentation'
          CHANGELOG: '$(Agent.TempDirectory)/changelog'
        steps:
          - script: echo Documentation pipeline successfully run!
  - stage: tutorials
    displayName: Tutorials
    condition: eq(variables['Build.Reason'], 'ResourceTrigger')
    jobs:
      - job: tutorials
        pool:
          vmImage: 'Ubuntu 20.04'
        steps:
          - script: echo triggered by build_gcc after it completed successfully!

update docs-pipeline.yaml for Azure Pipelines
  .ci/azure-pipelines/docs-pipeline.yaml
Due: none

___It's just a separator for real demo___
  CMakeLists.txt
Due: none

[DOCS] fix typo in doc/tutorials
  doc/tutorials/content/qt_visualizer.rst
Due: .ci/azure-pipelines/docs-pipeline.yaml, .ci/azure-pipelines/documentation.yaml

___It is just a separator for real demo___
  CMakeLists.txt
Due: none

[CODE] add test comment in main CMakeLists
  CMakeLists.txt
Due: none

[CODE] add test comment in PCLConfig.cmake.in
  PCLConfig.cmake.in
Due: none

simplified CI to the minimal
  .ci/azure-pipelines/azure-pipelines.yaml
  .ci/azure-pipelines/documentation.yaml
  .ci/azure-pipelines/formatting.yaml
  .ci/azure-pipelines/tutorials.yaml
Due: none

added new features for pipelines
  .ci/azure-pipelines/azure-pipelines.yaml
  .ci/azure-pipelines/build-pipeline.yaml
  .ci/azure-pipelines/docs-pipeline.yaml
Due: none

[TEST] changes in README.md won't cause docs/build run
  README.md
Due: .ci/azure-pipelines/documentation.yaml

[TEST] changes ONLY in doc ONLY cause docs run
  doc/CMakeLists.txt
Due: .ci/azure-pipelines/docs-pipeline.yaml, .ci/azure-pipelines/documentation.yaml

fixed errors in pipelines
  .ci/azure-pipelines/azure-pipelines.yaml
Due: none

fixed depends in azure-pipelines.yaml
  .ci/azure-pipelines/azure-pipelines.yaml
Due: none

fixed vmImage problems in azure-pipelines.yaml
  .ci/azure-pipelines/azure-pipelines.yaml
Due: none

fixed git diff in main pipeline
  .ci/azure-pipelines/azure-pipelines.yaml
Due: none

fixed some errors in main pipeline
  .ci/azure-pipelines/azure-pipelines.yaml
Due: none

fixed typo error in docs-pipeline.yaml
  .ci/azure-pipelines/docs-pipeline.yaml
Due: none

fixed dependsOn problems in build-pipeline.yaml
  .ci/azure-pipelines/build-pipeline.yaml
Due: none

[TEST] codes changes trigger build then docs pipeline
  CMakeLists.txt
Due: none

[TEST] doc and code changes run build pipeline
  doc/CMakeLists.txt
  visualization/test/test.cpp
Due: .ci/azure-pipelines/docs-pipeline.yaml, .ci/azure-pipelines/documentation.yaml

[TEST] changes in README.md won't trigger any pipeline
  README.md
Due: .ci/azure-pipelines/documentation.yaml

[PR-TEST] only codes changed
  CMakeLists.txt
Due: none

[PR-TEST] only docs changed
  doc/CMakeLists.txt
Due: .ci/azure-pipelines/docs-pipeline.yaml, .ci/azure-pipelines/documentation.yaml

fixed git diff for PR test in azure-pipelines.yaml
  .ci/azure-pipelines/azure-pipelines.yaml
Due: none

changed compare branch in main pipeline
  .ci/azure-pipelines/azure-pipelines.yaml
Due: none

enabled debug display in main pipeline
  .ci/azure-pipelines/azure-pipelines.yaml
Due: none

Update azure-pipelines.yaml
  .ci/azure-pipelines/azure-pipelines.yaml
Due: none

Update azure-pipelines.yaml for Azure Pipelines
  .ci/azure-pipelines/azure-pipelines.yaml
Due: none

___Here is the separator for PR test___
  CMakeLists.txt
Due: none

[PR-TEST] only codes changed
  .ci/azure-pipelines/azure-pipelines.yaml
  CMakeLists.txt
Due: none
